body{
	overflow: hidden;
	background-color: rgba(255,255,255,0.1);
}

#discussion{
	height: 40vh;
	overflow-y: scroll;
}
#discussion > p{
padding-left: 2%;
}

.saisie{
	margin-top: 2%;
}

.modal{
	padding-top: 5%;

}

#imgcnx{
	padding-bottom: 10%;
	padding-top: 10%;

}


